:root{
    --header-background-color : #34435E;
    --header-text-color : gold;
    --header-font-size : 1.3em;

    --home-background-color : skyblue;
    --home-headline-color : #222;
    --home-headline-font-size : 5em;
    --home-text-color : #fff;
    --home-text-font-size : 1.5em;
    --home-button-background-color : #fff;
    --home-button-text-color : #222;
    --home-button-font-size : 2em;
    --font-awesome-icon-color : linear-gradient(90deg, green, skyblue, yellow, red);
    --home-animation-background : #fd0;

    --about-background-color : #fff;
    --about-headline-color : #222;
    --about-headline-font-size : 2.5em;
    --about-text-color : #222;
    --about-text-font-size : 1.2em;

    --features-background-color : #A2F7B2;
    --features-headline-color : #222;
    --features-headline-font-size : 2.5em;
    --grid-items-background-color : #fff;
    --img-holder-background-color : #34435E;
    --text-holder-background-color : #fff;
    --text-holder-font-size : 1.2em;
    --span-text-color : #f00;
    --span-background-color : #eee;
    --span-font-size : 1em;
    --span-font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;



    --start-background-color : #fff;
    --start-headline-color : #222;
    --start-headline-font-size : 2.5em;
    --start-button-background-color : #34435E;
    --start-button-text-color : #fff;
    --start-button-font-size : 2em;
    --start-para-font-size : 1.1em;

    --footer-background-color : #34435E;
    --footer-font-size : 0.8em;
    --footer-text-color : #fff;

    --back-top-background : #FFD05B;
    --back-top-color : #34435E;
    --back-top-font-size : 1.3em;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: Signika,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
/* Header CSS */
header{
    background: var(--header-background-color);
    padding: 10px;
    font-size: var(--header-font-size);
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-class{
    margin: 10px;
    text-decoration: none;
    color: var(--header-text-color);
}

/* Home CSS */
#home-section{
    background: var(--home-background-color);
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.home-section-margin{
    max-width: 35%;
    margin: 150px;
}
#home-section-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.detail-items-margin{
    margin: 15px;
}

#home-title{
    color: var(--home-headline-color);
    font-size: var(--home-headline-font-size);
    font-weight: 500;
     
}

#home-text{
    color: var(--home-text-color);
    font-size: var(--home-text-font-size);
    text-align: center;
}

#home-button{
    background: var(--home-button-background-color);
    text-decoration: none;
    padding: 15px 40px;
    color: var(--home-button-text-color);
    font-size: var(--home-button-font-size);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;
  }

  #home-button:hover{
    transform : scale(0.95);
}

#home-button:hover > img {
    transform: rotate(20deg) scale(1.5);
}

  #home-button > img{
      padding: 0;
      margin: 0;
      width : 30px;
      transition: all 0.4s ease-in-out;
    }

  .fab{
      margin: 0 10px;
  }

#home-section-animation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 /* Bot CSS has been added as a separate file */
 
 /* #bot{
   background: var(--home-animation-background);
   width: 400px;
   height: 400px;
   border-radius: 50%;
 } */

 /* About CSS */

 #about-section{
     background: var(--about-background-color);
     height: 50vh;
     padding: 30px;
 }

 #about-title{
     color: var(--about-headline-color);
     font-size: var(--about-headline-font-size);
     font-weight: 300;
     text-align: center;
    }

 hr{
    background: skyblue;
    border: none;
    width: 11%;
    height: 3px;
    margin-top: 0;
    margin-left:44.5% !important; margin-right:44.5% !important;
    margin-bottom: 10px;
 }

 #first{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
 }

 .align-first{
     width: 40%;
     font-size: var(--about-text-font-size);
     line-height: 1.5;
     padding:  50px;
 }

 #second{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
 }

 .align-second{
    width: 80%;
    font-size: var(--about-text-font-size);
    line-height: 1.5;
    margin-left: 80px;
}

/* Features CSS */

#features-section{
    background: var(--features-background-color);
    height: 80vh;
    padding: 30px;
}

#features-title{
    color: var(--features-headline-color);
    font-size: var(--features-headline-font-size);
    font-weight: 300;
    text-align: center;
}

#grid-container{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(1, 475px);
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
}

.grid-items{
    background: var(--grid-items-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

.img-holder{
    background: var(--img-holder-background-color);
    height: 80%;
    width: 100%;
    border-radius: 5px 5px 0 0;
    
}
img{
    margin: 70px;
    max-width: 100%;
}

.text-holder{
    background: var(--text-holder-background-color);
    max-width: 100%;
    height: 20%;
    padding: 20px;
    font-size: var(--text-holder-font-size);
    text-align: center;
}

span{
    background: var(--span-background-color);
    color : var(--span-text-color);
    font-size: var(--span-font-size);
    font-family: var(--span-font-family);
}
/*  Start CSS */
#start-section{
    background: var(--start-background-color);
    height: 60vh;
    padding: 30px;
}

#start-title{
    color: var(--start-headline-color);
    font-size: var(--start-headline-font-size);
    font-weight: 300;
    text-align: center;
}

#start-desc{
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.start-items{
margin: 40px;
}

#start-button{
    background: var(--start-button-background-color);
    text-decoration: none;
    padding: 15px 40px;
    color: var(--start-button-text-color);
    font-size: var(--start-button-font-size);
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
}

#start-button:hover{
    background: rgba(0,0,0, 0.75);
    transform : scale(0.95);
}

#start-button:hover > img {
    transform: rotate(20deg) scale(1.5);
}

#start-button > img{
    padding: 0;
    margin: 0;
    width : 30px;
    transition: all 0.4s ease-in-out;
}

.start-para{
    font-size: var(--start-para-font-size);
}

/* Footer CSS */
footer{
    background: var(--footer-background-color);
    padding: 10px;
    font-size: var(--footer-font-size);
    color: var(--footer-text-color);
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
}

footer > p > a{
    color: var(--footer-text-color);
}

/* Back To Top CSS */

.back-to-top{
transition : all 0.25s ease-in-out;
background: var(--back-top-background);
color : var(--back-top-color);
position: fixed;
width: 50px;
height: 50px;
border-radius: 5px;
bottom : 20px;
right: 20px;
font-weight: 100;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: var(--back-top-font-size);
text-decoration: none;
}

.hide{
    visibility: hidden;
    opacity : 0;
}

.show{
    visibility: visible;
    opacity: 1;
}


/* ANIMATIONS CSS is attached as separate stylesheet */



/* Media Queries */
/* For Screen Sizes 300px-728px */

@media screen and (min-width: 300px) and (max-width: 728px){
      /* Header CSS */
header{
    background: var(--header-background-color);
    padding: 10px;
    font-size: 1em;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-class{
    margin: 10px;
    text-decoration: none;
    color: var(--header-text-color);
}

/* Home CSS */
#home-section{
    background: var(--home-background-color);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.home-section-margin{
    max-width: 100%;
    margin: 50px;
}
#home-section-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.detail-items-margin{
    margin: 15px;
}

#home-title{
    color: var(--home-headline-color);
    font-size: var(--home-headline-font-size);
    font-weight: 500;
}

#home-text{
    color: var(--home-text-color);
    font-size: var(--home-text-font-size);
    text-align: center;
}

#home-button{
    background: var(--home-button-background-color);
    text-decoration: none;
    padding: 15px 20px;
    color: var(--home-button-text-color);
    font-size: var(--home-button-font-size);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
  }

  #home-button > img{
      padding: 0;
      margin: 0;
      width : 30px;
    }

  .fab{
      margin: 0 10px;
  }

#home-section-animation{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px;
 }

 #bot{
    background: #FFD05B;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position : absolute;
    overflow : hidden;
    white-space : nowrap;
    transform: scale(0.8);
  }

 

  /* About CSS */

 #about-section{
    background: var(--about-background-color);
    height: auto;
    padding: 30px;
}

#about-title{
    color: var(--about-headline-color);
    font-size: var(--about-headline-font-size);
    font-weight: 300;
    text-align: center;
   }

hr{
   background: skyblue;
   border: none;
   width: 40%;
   height: 3px;
   margin-top: 0;
   margin-left:30% !important; margin-right:30% !important;
   margin-bottom: 10px;
}

#first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.align-first{
    width: 100%;
    font-size: var(--about-text-font-size);
    line-height: 1.5;
    padding:  30px;
}

#second{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.align-second{
   width: 100%;
   font-size: var(--about-text-font-size);
   line-height: 1.5;
   margin-left: 0px;
   padding:  2px;
}

/* Features CSS */

#features-section{
    background: var(--features-background-color);
    height: auto;
    padding: 10px;
}

#features-title{
    color: var(--features-headline-color);
    font-size: var(--features-headline-font-size);
    font-weight: 300;
    text-align: center;
}

#grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    grid-template-rows: repeat(auto-fit, minmax(475px, max-content));
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
}

.grid-items{
    background: var(--grid-items-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

.img-holder{
    background: var(--img-holder-background-color);
    height: 80%;
    width: 100%;
    border-radius: 5px 5px 0 0;
    
}
img{
    margin: 70px;
    max-width: 100%;
}

.text-holder{
    background: var(--text-holder-background-color);
    max-width: 100%;
    height: 20%;
    padding: 20px;
    font-size: var(--text-holder-font-size);
    text-align: center;
}

span{
    background: var(--span-background-color);
    color : var(--span-text-color);
    font-size: var(--span-font-size);
    font-family: var(--span-font-family);
}

/*  Start CSS */
#start-section{
    background: var(--start-background-color);
    height: auto;
    padding: 10px;
}

#start-title{
    color: var(--start-headline-color);
    font-size: var(--start-headline-font-size);
    font-weight: 300;
    text-align: center;
}

#start-desc{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.start-items{
margin: 20px;
}

#start-button{
    background: var(--start-button-background-color);
    text-decoration: none;
    padding: 15px 20px;
    color: var(--start-button-text-color);
    font-size: var(--start-button-font-size);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

#start-button > img{
    padding: 0;
    margin: 0;
    width : 30px;
  }

.start-para{
    font-size: var(--start-para-font-size);
}


/* Footer CSS */
footer{
    background: var(--footer-background-color);
    padding: 10px;
    font-size: var(--footer-font-size);
    color: var(--footer-text-color);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
    text-align: center;
}

footer > p > a{
    color: var(--footer-text-color);
}

/* Back To Top CSS */

.back-to-top{
transition : all 0.25s ease-in-out;
background: var(--back-top-background);
color : var(--back-top-color);
position: fixed;
width: 50px;
height: 50px;
border-radius: 5px;
bottom : 20px;
right: 20px;
font-weight: 100;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: var(--back-top-font-size);
text-decoration: none;
}

.hide{
    visibility: hidden;
    opacity : 0;
}

.show{
    visibility: visible;
    opacity: 1;
}


}


/* For Screen Sizes 729px-1024px */

@media screen and (min-width:729px) and (max-width:1200px){

/* Home CSS */
#home-section{
    background: var(--home-background-color);
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.home-section-margin{
    /* max-width: 35%; */
    margin: 10%;
 
}
#home-section-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.detail-items-margin{
    margin: 10px;
}

#home-title{
    color: var(--home-headline-color);
    font-size: var(--home-headline-font-size);
    font-weight: 500;
}

#home-text{
    color: var(--home-text-color);
    font-size: var(--home-text-font-size);
    text-align: center;
}

#home-button{
    background: var(--home-button-background-color);
    text-decoration: none;
    padding: 15px 40px;
    color: var(--home-button-text-color);
    font-size: 1.3em;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
  }

  #home-button > img{
      padding: 0;
      margin: 0;
      width : 20px;
    }

  .fab{
      margin: 0 10px;
  }

#home-section-animation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

 #bot{
    background: #FFD05B;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position : absolute;
    overflow:hidden;
    transform: scale(0.7);
  }
/* About CSS */

#about-section{
    background: var(--about-background-color);
    height: auto;
    padding: 30px;
}

#about-title{
    color: var(--about-headline-color);
    font-size: var(--about-headline-font-size);
    font-weight: 300;
    text-align: center;
   }

hr{
   background: skyblue;
   border: none;
   width: 20%;
   height: 3px;
   margin-top: 0;
   margin-left:40% !important; margin-right:40% !important;
   margin-bottom: 10px;
}

#first{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.align-first{
    width: 40%;
    font-size: var(--about-text-font-size);
    line-height: 1.5;
    padding:  30px;
}

#second{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
}

.align-second{
   width: 90%;
   font-size: var(--about-text-font-size);
   line-height: 1.5;
   margin-left: 30px;
}

/* Features CSS */
#features-section{
    background: var(--features-background-color);
    height: auto;
    padding: 30px;
}

#features-title{
    color: var(--features-headline-color);
    font-size: var(--features-headline-font-size);
    font-weight: 300;
    text-align: center;
}

#grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    grid-template-rows: repeat(auto-fit, minmax(475px, max-content));
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
}

.grid-items{
    background: var(--grid-items-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

.img-holder{
    background: var(--img-holder-background-color);
    height: 80%;
    width: 100%;
    border-radius: 5px 5px 0 0;
    
}
img{
    margin: 70px;
    max-width: 100%;
}

.text-holder{
    background: var(--text-holder-background-color);
    max-width: 100%;
    height: 20%;
    padding: 20px;
    font-size: var(--text-holder-font-size);
    text-align: center;
}

span{
    background: var(--span-background-color);
    color : var(--span-text-color);
    font-size: var(--span-font-size);
    font-family: var(--span-font-family);
}

/*  Start CSS */
#start-section{
    background: var(--start-background-color);
    height:auto;
    padding: 30px;
}

#start-title{
    color: var(--start-headline-color);
    font-size: var(--start-headline-font-size);
    font-weight: 300;
    text-align: center;
}

#start-desc{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.start-items{
margin: 40px;
}

#start-button{
    background: var(--start-button-background-color);
    text-decoration: none;
    padding: 15px 40px;
    color: var(--start-button-text-color);
    font-size: var(--start-button-font-size);
    border-radius: 5px;
}

#start-button > img{
    padding: 0;
    margin: 0;
    width : 30px;
  }

.start-para{
    font-size: var(--start-para-font-size);
    line-height: 1.5;
}

/* Footer CSS */
footer{
    background: var(--footer-background-color);
    padding: 10px;
    font-size: var(--footer-font-size);
    color: var(--footer-text-color);
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
}

footer > p > a{
    color: var(--footer-text-color);
}

}